<h1 class="text-center h1">Accesibilidad en MS PowerPoint 365</h1>
<p class="text-start">MS PowerPoint 365 tiene muchos recursos integrados que ayudan a los usuarios en diferentes formas
  ya sea para habilidades de lectura o presentaciones. Sin embargo, los usuarios con discapacidad visual, daltónicos o
  disléxicos pueden tener dificultades para seguir la presentación o navegar por MS PowerPoint 365. Así, el acceso a la
  presentación para este tipo de usuarios no sólo es necesario, sino también esencial. MS PowerPoint 365 mejora la
  accesibilidad a estas presentaciones con la implementación de herramientas tales como: Comprobar accesibilidad, Texto
  alternativo, Panel de orden de lectura, entre otros.
  En general, las personas que no tienen algún tipo de discapacidad podrían no conocer los parámetros de accesibilidad
  que se debe de tener en cuenta al momento de elaborar una presentación en MS PowerPoint 365. Esto conlleva a crear un
  sin número de archivos de presentación sin parámetros de accesibilidad. Por esto resulta complicado para un usuario
  con discapacidad hacer uso de una presentación en MS PowerPoint 365.
</p>
<h3 class="h3">Comprobar accesibilidad en MS PowerPoint 365</h3>
<p class="text-start">Para acceder al comprobador de accesibilidad que MS PowerPoint 365 implementa se debe hacer clic
  izquierdo en la pestaña “Revisar” para que de esta manera se visualicen las diferentes opciones como se muestra en la
  Figura 1, siendo una de ellas el “Comprobar accesibilidad” </p>
<p class="text-start">El comprobador de accesibilidad implementa algunas reglas para que los archivos de MS PowerPoint
  sean accesibles. Al momento de hacer clic en el comprobador de accesibilidad, estas reglas se ejecutan y evalúan si el
  archivo PowerPoint
  las cumple. </p>
