<h1 class="text-center h1">Accesibilidad</h1>
<p class="text-start">En general, la accesibilidad se refiere a la posibilidad de acceder a cierta cosa o a la facilidad
  para hacerlo. El término accesibilidad se utiliza para hacer referencia al grado o nivel en que cualquier persona,
  independientemente de su capacidad física o cognitiva, puede utilizar algo, disfrutar de un servicio o utilizar una
  infraestructura</p>
<h3 class="h3">Accesibilidad computacional</h3>
<p class="text-start">
  La accesibilidad computacional pretende superar las barreras y dificultades a las que se enfrentan las personas cuando
  intentan acceder a productos y servicios de las Tecnologías de la Información y la Comunicación (TIC).
  Las TIC han facilitado a las personas con discapacidad el acceso a información que antes no estaba disponible para
  ellas. Por tanto, el acceso a la información electrónica o digital es un mecanismo integrador en la sociedad de la
  información.
  Sin embargo, se ha observado que existe una descoordinación entre los distintos individuos que intervienen en el
  proceso de la accesibilidad, que deriva en requerimientos que van desde problemas con el mobiliario hasta con el
  hardware y el software. Estos requerimientos dependen de las limitaciones que tenga cada individuo. Pues las
  necesidades no son las mismas para una persona con problemas visuales que para una persona de la tercera edad o para
  personas con discapacidad intelectual o personas con problemas auditivos.
</p>
<h3 class="h3">Accesibilidad de documentos electrónicos</h3>
<p class="text-start">Los documentos electrónicos se consideran accesibles si pueden ser leídos por el mayor número posible de personas con
  discapacidad visual, discapacidad intelectual o adultos mayores. Para realizar dichos documentos se utilizan
  herramientas de edición de textos y presentaciones como: Microsoft PowerPoint, Microsoft Word, Adobe Acrobat PDF.
  Estos documentos pueden leerse utilizando lectores de pantalla o pantallas braille que utilizan las personas con
  discapacidad.</p>
