<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <nav class="dashboard-nav-list">

        <div class='dashboard-nav-dropdown'>
          <a  style="text-decoration: none; color: #F1F1F1" routerLink="/" class="dashboard-nav-item dashboard-nav-dropdown-toggle"> Accesibilidad </a>
          <div class='dashboard-nav-dropdown-menu'>
            <a style="text-decoration: none; color: #F1F1F1" routerLink="powerpoint" class="dashboard-nav-dropdown-item">MS PowerPoint</a>
            <a style="text-decoration: none;color: #F1F1F1" routerLink="word" class="dashboard-nav-dropdown-item"> MS Word</a>
            <a style="text-decoration: none;color: #F1F1F1" routerLink="pdf" class="dashboard-nav-dropdown-item">PDF</a>


          </div>
        </div>
        <a  style="text-decoration: none; color: #F1F1F1" routerLink="audiolibros" class="dashboard-nav-item"> AudioLibros </a>

        <div class="nav-item-divider"></div>
      </nav>
    </nav>
  </div>

</aside>
